<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Welcome to my webs</title>
</head>

<body>
    <%- include('../menu/nav'); %>
        <div class="container">
            <h2>Input Data Dosen</h2>
            <form class="form-horizontal" action="/input-dosen" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nidn">NIDN</label>
                    <div class="col-sm-10">
                        <input type="nidn" class="form-control" id="nidn" placeholder="Masukan NIDN" name="nidn">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nama">Nama Dosen</label>
                    <div class="col-sm-10">
                        <input type="nama" class="form-control" id="nama" placeholder="Masukan nama dosen"
                            name="nama_dosen">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="notelp">No Telp</label>
                    <div class="col-sm-10">
                        <input type="notelp" class="form-control" id="notelp" placeholder="Masukan nomor telp"
                            name="no_telp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="notelp">Jenis Kelamin</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="jenis_kelamin" value="Laki_Laki">Laki-Laki
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="jenis_kelamin" value="Perempuan">Perempuan
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gelardpn">Gelar Depan</label>
                    <div class="col-sm-10">
                        <input type="gelardpn" class="form-control" id="gelardpn" placeholder="Masukan gelar depan"
                            name="gelar_depan">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gelarblkg">Gelar Belakang</label>
                    <div class="col-sm-10">
                        <input type="gelarblkg" class="form-control" id="gelarblkg" placeholder="Masukan gelar belakang"
                            name="gelar_belakang">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tgllahir">Tanggal Lahir</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="tgllahir" placeholder="Masukan tanggal lahir"
                            name="tgl_lahir">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tgllahir">Alamat</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Masukan alamat" name="alamat"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/">
                            <button type="button" class="btn btn-default">Kembali</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
</body>

</html>